/* footer styles */
.b-container {
	@extend %clearfix;
	position: relative;
	.holder {
		background-position: center top;
		-webkit-background-size: cover;
		background-size: cover;
		@extend %clearfix;
		position: relative;
		padding: 155px 0 61px;
		@include media('<desktop') {
			padding: 75px 0 30px;
		}
		@include media('<tablet') {
			padding: 35px 0 15px;
		}
		&:after {
			z-index: 1;
			@include position;
			content: "";
			background: rgba(0, 0, 0, 0.85);
		}
		* {
			position: relative;
			z-index: 2;
		}
	}
	.logo-holder {
		text-align: center;
		overflow: hidden;
	}
	.logo {
		float: none;
		@include v-align(inline-block, top);
		margin: 0 auto 110px;
		@include media('<desktop') {
			margin: 0 auto 55px;
		}
		@include media('<tablet') {
			margin: 0 auto 40px;
		}
	}
	.google-map {
		overflow: hidden;
		img {
			display: block;
			@include size(100%, auto);
		}
	}
	.corner {
		top: 0;
		z-index: 2;
		overflow: hidden;
		position: absolute;
		@include size(50%, 160px);
		padding-bottom: 15.3%;
		@include media('<desktop') {
			@include size(50%, 118px);
		}
		@include media('<tablet') {
			@include size(50%, 49px);
		}
		&:before {
			background : url(../images/pattern.png);
			@include size(120%, 100%);
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			right: 0;
		}
		&.left {
			left: 0;
			&:before {
				-webkit-transform-origin: 0 100%;
				-ms-transform-origin: 0 100%;
				transform-origin: 0 100%;
				-webkit-transform: rotate(-17deg);
				-ms-transform: rotate(-17deg);
				transform: rotate(-17deg);
			}
		}
		&.right {
			right: 0;
			&:before {
				-webkit-transform-origin: 100% 0;
				-ms-transform-origin: 100% 0;
				transform-origin: 100% 0;
				-webkit-transform: rotate(14.8deg);
				-ms-transform: rotate(14.8deg);
				transform: rotate(14.8deg);
			}
		}
	}
	.columns {
		color: $white;
		@extend %clearfix;
		padding-bottom: 50px;
		@include media('<tablet') {
			padding-bottom: 10px;
		}
		.text {
			overflow: hidden;
			color: rgba(255, 255, 255, 0.5);
			@include media('<tablet') {
				font-size: 14px;
			}
			p {
				@include media('<tablet') {
					margin: 0 0 20px;
				}
			}
		}
	}
	.contact-info {
		margin: 0;
		color: rgba(255, 255, 255, 0.5);
		li {
			padding: 0 0 0 45px;
			margin: 0 0 20px;
			display: block;
			@include media('<desktop') {
				padding: 0 0 0 25px;
				font-size: 14px;
			}
		}
		a {
			color: rgba(255, 255, 255, 0.5);
		}
		[class^="icon-"] {
			position: absolute;
			color: rgba(255, 255, 255, 0.5);
		}
		.icon-phone {
			left: 0;
		}
		.icon-paperplane {
			margin: -7px 0 0;
		}
	}
	h3 {
		color: $white;
		margin: 0 0 30px;
		@include media('<desktop') {
			font-size: 18px;
			line-height: 30px;
			margin: 0 0 20px;
		}
		span {
			position: relative;
			padding: 0 10px 0 0;
			@include v-align(inline-block, top);
			&:after, &:before {
				position: absolute;
				content: "";
				border-style: double;
			}
			&:after {
				@include size(3px, 35px);
				border-width: 0 0 0 3px;
				top: 0;
				bottom: 0;
				right: 0;
				z-index: 1;
			}
			&:before {
				@include size(24px, 3px);
				border-width: 0 0 3px;
				bottom: -3px;
				right: -5px;
				z-index: 2;
			}
		}
	}
	.message-form {
		@include media('<tablet') {
			padding-bottom: 20px;
		}
	}
	.form-control {
		height: auto;
		padding: 9px 12px;
		border-color: rgba(255, 255, 255, 0.5);
		@include placeholder {
			color: $base-color;
		}
	}
}
#footer {
	color: $white;
	overflow: hidden;
	text-align: center;
	line-height: 18px;
	padding: 20px 0;
	background: $very-dark-gray;
	@include media('<tablet') {
		font-size: 12px;
		line-height: 14px;
	}
	p {
		margin: 0;
		a {
			color: $white;
		}
	}
}


