/* header styles */
#header {
	@extend %clearfix;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	@include media('<tablet') {
		position: static;
		background: $very-dark-gray;
		padding: 0 0 10px;
	}
	.navbar-toggle {
		top: 10px;
		right: 10px;
		display: none;
		position: absolute;
		@include size(40px, 35px);
		padding: 5px;
		@include media('<tablet') {
			display: block;
		}
		&:after, &:before, span {
			background: $white;
			border-radius: 4px;
			position: absolute;
			top: 16px;
			left: 20%;
			right: 20%;
			height: 3px;
			margin-top: -2px;
			@include transition(all 0.2s linear);
		}
		&:after, &:before {
			content: "";
			top: 10px;
		}
		&:after {
			top: 22px;
		}
	}
	.holder {
		padding-top: 51px;
		@include media('<desktop') {
			padding-top: 5px;
		}
	}
}

/* top panel styles */
.top-panel {
	min-height: 69px;
	overflow: hidden;
	padding: 19px 0 15px;
	background: $very-dark-gray;
	@include media('<tablet') {
		display: none;
	}
}

/* contact-info styles */
.contact-info {
	color: $white;
	font-size: 0;
	line-height: 0;
	margin: 7px 0 0;
	@include media('<tablet') {
		margin: 0 0 10px;
	}
	li {
		letter-spacing: 1px;
		position: relative;
		padding: 0 0 0 40px;
		margin: 0 0 0 95px;
		text-transform: capitalize;
		font: 300 16px/18px 'Roboto', Arial, helvetica, sans-serif;
		&:first-child {
			margin: 0;
		}
		@include media('<desktop') {
			padding: 0 0 0 25px;
			margin: 10px 0 0;
			display: block;
		}
	}
	[class^="icon-"] {
		margin: -13px 0 0;
		position: absolute;
		left: 0;
		top: 50%;
	}
	.icon-location {
		font-size: 19px;
		margin: -9px 0 0;
	}
	.icon-phone {
		font-size: 26px;
		margin: -14px 0 0 -4px;
	}
	a {
		color: $white;
	}
}

/* social networks styles */
.social-networks {
	margin: 0;
	float: right;
	font-size: 0;
	line-height: 0;
	li {
		font-size: 16px;
		line-height: 18px;
		@include v-align(inline-block, middle);
	}
	a {
		display: block;
		color: $white;
		padding: 5px 13px;
		border-width: 0 0 3px;
		border-style: double;
		border-color: transparent;
		@include media('<desktop') {
			padding: 5px 10px;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.icon-facebook {
		font-size: 20px;
	}
}

/* Site  log styles */
.logo {
	padding: 0;
	float: left;
	border-color: $white;
	border-width: 0 0 4px;
	border-style: double;
	text-transform: uppercase;
	text-shadow: 0 1px 2px rgba(0,0,0,.2), inset 0 -2px rgba(0,0,0,.2);
	font: 700 44px/50px 'Roboto', Arial, helvetica, sans-serif;
	@include media('<tablet') {
		margin: 0;
		font: 700 34px/40px 'Roboto', Arial, helvetica, sans-serif;
	}
	span {
		color: $white;
	}
	a {
		&:hover {
			text-decoration: none;
		}
	}
}

/* nav area styles */
.nav-area {
	padding: 0;
	@include media('<tablet') {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.navbar-collapse {
	@include media('<tablet') {
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		@include transition(all 0.25s linear);
		background: $very-dark-gray;
		@include size(260px, 100%!important);
		padding: 20px 0;
		position: fixed;
		display: block;
		z-index: 99;
		right: -260px;
		top: 0;
	}
}

/* main menu styles */
.navbar-default {
	text-align: center;
	border-style: double;
	border-width: 4px 0;
	border-color: rgba(255, 255, 255, 0.10);
	text-transform: uppercase;
	font: 500 14px/16px 'Roboto', Arial, helvetica, sans-serif;
	@include media('<tablet') {
		text-align: left;
	}
	.navbar-nav {
		margin: -4px 0;
		@include v-align(inline-block, top);
		float: none;
		@include media('<tablet') {
			display: block;
		}
		li {
			margin: 0 16px;
			@include media('<desktop') {
				margin: 0 5px;
			}
			@include media('<tablet') {
				margin: 8px 0;
			}
			a {
				padding: 13px 0;
				border-style: double;
				border-width: 4px 0;
				border-color: transparent;
				@include media('<tablet') {
					padding: 5px 15px 5px 25px;
					border-width: 3px 0;
				}
			}
			li {
				margin: 0;
				padding: 5px 0;
				a {
					padding: 3px 0;
					color: $white;
					&:hover {
						background: none;
					}
				}
			}
		}
	}
	.caret {
		@include v-align(inline-block, middle);
		margin: 0 0 0 5px;
	}
	.dropdown-menu {
		background: transparent;
		box-shadow: none;
		border: 0;
		.caret {
			margin: 0;
			position: absolute;
			right: 10px;
			top: 9px;
			@include media('<tablet') {
				top: 13px;
				border-color: transparent transparent transparent $white!important;
			}
		}
	}
}