/*	--------------------------------------
	3. Common site styles
	--------------------------------------*/
/* main container styles */
body {
	&.active {
		overflow: hidden;
		#wrapper {
			margin: 0 0 0 -260px;
		}
		.btn-opener {
			&:after, &:before {
				@include rotate(45deg);
				top: 17px!important;
				left: 15%;
				right: 15%;
			}
			&:after {
				@include rotate(-45deg);
				top: 10px;
			}
			span { opacity: 0; }
		}
		.nav-area {
			right: 0;
		}
	}
}

.g-padding {
	padding: 120px 0 60px;
}
.header {
	text-align: center;
	overflow: hidden;
}

/* wrapper style */
#wrapper {
	position: relative;
	overflow: hidden;
	@include media('<tablet') {
		width: 100%;
		@include transition(all 0.25s linear);
	}
}

/* main styles */
#main {
	overflow: hidden;
}

h1 {
	margin: 0;
	text-transform: uppercase;
	color: $very-dark-gray;
	font: 700 48px/58px 'PT Sans Caption', Arial, helvetica, sans-serif;
	span {
		position: relative;
		padding: 0 10px 0 0;
		@include v-align(inline-block, top);
		&:after, &:before {
			position: absolute;
			content: "";
			border-style: double;
		}
		&:after {
			@include size(3px, 50px);
			border-width: 0 0 0 3px;
			top: 10px;
			bottom: 0;
			right: 0;
			z-index: 1;
		}
		&:before {
			@include size(24px, 3px);
			border-width: 0 0 3px;
			bottom: 3px;
			right: -5px;
			z-index: 2;
		}
	}
}

.btn {
	border: 0;
	font-weight: 400;
	border-radius: 0;
	font-size: 14px;
	line-height: 16px;
	padding: 5px 20px;
	text-transform: uppercase;
}

.btn-default {
	position: relative;
	border-style: double;
	border-width: 3px 0;
	padding: 10px 40px;
	&:after, &:before {
		top: -15px;
		bottom: -15px;
		content: "";
		position: absolute;
		border-style: double;
		border-width: 0 0 0 3px;
	}
	&:before {
		left: 15px;
	}
	&:after {
		right: 15px;
	}
}

.read-more {
	color: $base-color;
	border: 3px double $base-color;
	&:hover {
		text-decoration: none;
	}
}

/* carousel styles */
.carousel {
	img {
		display: block;
	}
}

/* who we are styles */
.who-we-are {
	overflow: hidden;
	padding-bottom: 120px;
	p {
		margin: 0 0 25px;
	}
}
.steps {
	margin: 40px 0 50px -60px;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	li {
		position: relative;
		padding: 0 0 0 30px;
		margin: 0 0 0 30px;
		&:before {
			@include size(1px, 32px);
			margin: -16px 0 0;
			top: 50%;
			left: 0;
			position: absolute;
			content: "";
			background: $very-light-gray;
		}
	}
	.icon {
		background: url(../images/sprite.png) no-repeat;
		@include v-align(inline-block, middle);
		margin: 0 15px 0 0;
	}
	.plan {
		@include size(26px, 32px);
		background-position: -11px -9px;
	}
	.design {
		@include square(32px);
		background-position: -57px -9px;
	}
	.build {
		@include size(32px, 30px);
		background-position: -109px -9px;
	}
	.delivery {
		@include size(26px, 32px);
		background-position: -161px -9px;
	}
}

/* Consultant styles */
.consultant {
	font-size: 18px;
	line-height: 28px;
	color: $white;
	overflow: hidden;
	position: relative;
	background: $very-dark-gray;
	.text-box {
		padding-top: 85px;
		padding-bottom: 100px;
	}
	h1 {
		font-size: 46px;
		color: $white;
		margin: 0 0 25px;
	}
	p {
		margin: 0 0 45px;
	}
	.image-holder {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 50%;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
	}
}

/* services styles */
.services {
	.nav-tabs {
		border: 0;
		li {
			height: 150px;
			float: none;
			margin: 30px 0 0;
			border: 3px double $very-light-gray;
			&:first-child {
				margin: 0;
			}
			&.active {
				a {
					border: 0;
				}
			}
		}
		a {
			border: 0;
			padding: 17px 30px;
			color: $base-color;
			&:hover {
				background: none;
			}
		}
		.title {
			clear: both;
			display: block;
			font-weight: 400;
			line-height: 18px;
			text-transform: capitalize;
			span {
				display: block;
				text-transform: uppercase;
				font: 700 24px/28px 'PT Sans Caption', Arial, helvetica, sans-serif;
			}
		}
		&.text-right {
			.icon {
				float: right;
			}
		}
		.icon {
			display: block;
			margin: 0 0 15px;
			background: url(../images/sprite.png) no-repeat;
			&.contruction {
				@include size(36px, 31px);
				background-position: -10px -61px;
			}
			&.architecture {
				@include square(36px);
				background-position: -10px -112px;
			}
			&.painting {
				@include size(36px, 37px);
				background-position: -10px -168px;
			}
			&.electrical {
				@include size(23px, 46px);
				background-position: -10px -225px;
			}
			&.metal-roofing {
				@include size(34px, 17px);
				background-position: -10px -292px;
			}
			&.consulting {
				@include size(28px, 39px);
				background-position: -10px -329px;
			}
		}
	}
	.tab-content {
		height: 510px;
		color: $white;
		line-height: 26px;
		padding: 37px 70px;
		position: relative;
		text-align: center;
		background-position: center top;
		-webkit-background-size: cover;
		background-size: cover;
		&:after {
			z-index: 1;
			content: "";
			@include position;
			background: rgba(24, 24, 24, 0.9);
		}
		* {
			position: relative;
			z-index: 2;
		}
	}
	h1 {
		color: $white;
		margin: 0 0 20px;
		text-transform: uppercase;
		font: 700 24px/28px 'PT Sans Caption', Arial, helvetica, sans-serif;
	}
	p {
		margin: 0 0 25px;
	}
	.read-more {
		color: $white;
		border-color: $white;
	}
	.tab-pane {
		height: 100%;
	}
	.holder {
		display: table;
		position: relative;
		@include square(100%);
		&:after, &:before {
			content: "";
			position: absolute;
			border-style: double;
			border-color: rgba(255, 255, 255, 0.40);
			border-width: 0 0 0 3px;
			top: -25px;
			bottom: -25px;
		}
		&:before {
			left: -16px;
		}
		&:after {
			right: -16px;
		}
	}
	.frame {
		position: relative;
		@include v-align(table-cell, middle);
		&:after, &:before {
			content: "";
			position: absolute;
			border-style: double;
			border-color: rgba(255, 255, 255, 0.40);
			border-width: 3px 0 0;
			left: -49px;
			right: -49px;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
}

/* our work styles */
.our-work {
	overflow: hidden;
	.text-box {
		text-align: center;
		p {
			margin: 0 0 30px;
		}
	}
	.projects {
		padding: 0;
		border-style: solid;
		border-color: $light-gray;
		border-width: 0 0 2px 2px;
		.row {
			margin: 0;
		}
		[class^="col-"] {
			padding: 0;
		}
	}
	.project {
		border-style: solid;
		border-color: $light-gray;
		border-width: 2px 2px 0 0;
		img {
			display: block;
			@include size(100%, auto);
		}
		.title, .arrow {
			position: absolute;
			z-index: 2;
			display: none;
		}
		.title {
			left: 20px;
			bottom: 15px;
			color: $white;
			font-size: 20px;
			line-height: 24px;
			text-transform: uppercase;
			text-shadow: 0 1px 2px rgba(0,0,0,.2);
		}
		.arrow {
			right: 0;
			bottom: 0;
			@include size(100px, 50px);
			&:after, &:before {
				content: "";
				position: absolute;
			}
			&:after {
				top: 0;
				right: 0;
				z-index: 2;
				@include square(0);
				border-style: solid;
				border-width: 0 0 50px 100px;
			}
			&:before {
				top: 50%;
				right: 8px;
				z-index: 3;
				margin: -4px 0 0;
				@include size(30px, 22px);
				background: url(../images/sprite.png) no-repeat -141px -66px;
			}
		}
		a {
			display: block;
			text-decoration: none;
			&:hover {
				&:after {
					z-index: 1;
					content: "";
					@include position;
					background: rgba(24, 24, 24, 0.9);
				}
				.title, .arrow {
					display: block;
				}
			}
		}
	}
}

/* our team styles */
.our-team {
	padding-bottom: 205px;
	.box {
		position: relative;
		margin: 0 0 30px;
		border: 3px double $light-gray;
		&:hover {
			border-color: $base-color;
			.info-box {
				display: block;
			}
		}
		a {
			display: block;
		}
	}
	.image-frame {
		overflow: hidden;
		@include size(100%, auto);
		img {
			display: block;
			@include size(100%, auto);
		}
	}
	.info-box {
		background: rgba(24, 24, 24, 0.9);
		@include position;
		display: none;
		z-index: 1;
	}
	.info-frame {
		display: table;
		@include square(100%);
	}
	.info-holder {
		@include v-align(table-cell, middle);
	}
	.social-networks {
		float: none;
		text-align: center;
		li {
			padding: 0 15px;
		}
		a {
			padding: 0;
			border: 0;
		}
	}
	.title {
		display: block;
		margin: 0 0 25px;
		text-align: center;
		text-transform: uppercase;
		font: 700 24px/28px 'PT Sans Caption', Arial, helvetica, sans-serif;
		span {
			display: block;
			color: $white;
			text-align: center;
			font: 400 16px/18px 'Roboto', Arial, helvetica, sans-serif;
		}
	}
}